.container-poke {
    width: 600px;
    float: left;
    padding: 20px 0;
    background: #f5ae46d6;
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}
.poke {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 2.5%;
    width: 30%;
    float: left;        
    cursor: pointer;
    position: relative;
}   

.head-listpoke {
    margin: 0 20px;
    text-shadow: 1px 2px #f7f6f6;
    background: #ffe6c3;
    width: 200px;
    text-align: center;
    padding: 5px;
    border-radius: 18px;
    padding-bottom: 7px;
    color: #666;
}

@media(max-width : 745px){
    .container-poke {
        width: 90%;
    }
}
@media(max-width : 600px){
    .poke {
        width: 40%;
        margin-left: 6%;
    }
}

@media(max-width : 460px){
    .poke {
        width: 47%;
        margin-left: 2%;
    }
}

@media(max-width : 390px){
    .poke {
        width: 90%;
        margin-left: 6%;
    }
}
